.button{
    transition: all .1s linear;
    border: 1px solid #e1a87a !important;
    color: #151515;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .16em;
    padding: 21px 34px;
    text-decoration:none;
}