.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 100px;
    margin-top: 100px;
    a{
        text-decoration:none;
       }
  }
  .card-category{
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: all .15s ease-out;
    border: 1px solid #e1a87a;
    display: block;
    padding: 40px;

    p {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: black;
    }

    h1{
        font-size: 30px;
        height: 160px;
        color: black;
    }

    span{
        border-bottom: 1px solid rgba(26,26,26,.11);
        color: rgba(74,74,74,.9);
        -webkit-font-smoothing: antialiased;
    }
}

.cards :hover {
    background-color: black;

    h1{
        color:white;
    }

    p{
        color: #e1a87a;
    }

    span {
        color: #e1a87a;
    }
}
  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  