.container-explore{
    display: flex;
    padding: 20vh 6vw;
    margin-top: 100px;
    margin-bottom:100px;
}

.explore-button{
    float: right;
    width: 50%;
    margin-left: 30px;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("milegrncarov.jpg");
    background-size: cover;
    background-position: center;
}

.explore-text{
    float: left;
    width: 50%;

    h1{
        font-family: freight-display-pro;
        font-weight: 700;
        font-style: normal;
        line-height: 1.1em;
        text-transform: none;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }
}