.container-explore{
    display: flex;
    padding: 15vh 6vw;
    margin-top: 100px;
    margin-bottom:100px;
}

.explore-button{
    float: right;
    width: 50%;
    background-image: url(https://res.cloudinary.com/daf0zj13q/image/upload/v1609155708/55529776_10216896033945598_726609708005195776_o_e2edth.jpg);
    background-size: 500px;
    width: 500px;
    height: 600px;
    margin-left:20px;

}

.explore-text{
    float: left;
    width: 50%;
    padding-top:50px;

    h1{
        font-family: freight-display-pro;
        font-weight: 700;
        font-style: normal;
        line-height: 1.1em;
        text-transform: none;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }
}