.index-page {
  background-color: #f0f0f0;
}

.container-middle{
    display: flex;
    padding: 15vh 6vw;
    height: 1000px;
}

.index-page-content1{
    float: left;
    width: 50%;
    background-image: url(https://res.cloudinary.com/daf0zj13q/image/upload/v1609160563/milegrncarov1_whsse0.jpg);
    background-size: 500px;
    width: 500px;
    height: 600px;
    margin-left:20px;
}

.index-page-content2{
    float: right;
    width: 50%;
    padding: 30px;
    width: 50%;
    margin-right:100px;
    margin-left:40px;

    h1{
      font-family: freight-display-pro;
      font-weight: 700;
      font-style: normal;
      line-height: 1.1em;
      text-transform: none;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
    }
}

.index-page-content1about{
  float: left;
  width: 50%;
  background-image: url(https://res.cloudinary.com/daf0zj13q/image/upload/v1609160563/milegrncarov1_whsse0.jpg);
  background-size: 500px;
  width: 500px;
  height: 600px;
  margin-left:20px;

}