.shop-descr{
    background-color: black;
    color:white;
    padding-top: 100px;
    padding-bottom:100px;

    h1{
        font-family: freight-display-pro;
        font-weight: 700;
        font-style: normal;
        line-height: 1.1em;
        text-transform: none;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        text-align: center;
    }
}