.shop-descr{
    background-color: black;
    color:white;
    padding-top: 100px;
    padding-bottom:100px;

    h1{
        font-family: freight-display-pro;
        font-weight: 700;
        font-style: normal;
        line-height: 1.1em;
        text-transform: none;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        text-align: center;
    }
}

.descr-parag{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    h6 {
        font-family: proxima-nova;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        letter-spacing: .12em;
        line-height: 1.6em;
        text-transform: uppercase;
        color: #e1a87a;
    }
}